In [2]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [4]:
dataset=pd.read_csv("C:/Users/tyagi/Ml models/Insurance cost Prediction/insurance.csv",header=None)

In [5]:
dataset.describe()

           0     1     2     3     4          5          6
count   1339  1339  1339  1339  1339       1339       1339
unique    48     3   549     7     3          5       1338
top       18  male  32.3     0    no  southeast  1639.5631
freq      69   676    13   574  1064        364          2

In [6]:
X=dataset.drop(columns=6)
Y=dataset[6]

In [7]:
print(X)
print(Y)

        0       1       2         3       4          5
0     age     sex     bmi  children  smoker     region
1      19  female    27.9         0     yes  southwest
2      18    male   33.77         1      no  southeast
3      28    male      33         3      no  southeast
4      33    male  22.705         0      no  northwest
...   ...     ...     ...       ...     ...        ...
1334   50    male   30.97         3      no  northwest
1335   18  female   31.92         0      no  northeast
1336   18  female   36.85         0      no  southeast
1337   21  female    25.8         0      no  southwest
1338   61  female   29.07         0     yes  northwest

[1339 rows x 6 columns]
0           charges
1         16884.924
2         1725.5523
3          4449.462
4       21984.47061
           ...
1334     10600.5483
1335      2205.9808
1336      1629.8335
1337       2007.945
1338     29141.3603
Name: 6, Length: 1339, dtype: object

In [8]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.1,stratify=Y,random_state=1)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.